#requests-wrapper {
    position: relative;
}

#requests-badge {
    color: white;
    background-color: hsl(0, 100%, 50%);
    border-radius: 5rem;
    padding: 0.125rem 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    font-weight: 900;
}

.requests-review {
    display: none;
    height: 75dvh;
    width: 50dvw;
    position: absolute;
    top: 100%;
    left: calc(-50dvw + 100%);
    padding: 1rem;
    color: hsl(225, 100%, 18%);
    background-color: hsl(19, 100%, 50%);
    border: 2px hsl(19, 100%, 50%) solid;
    border-bottom: 2px hsl(19, 100%, 8%) solid;
    z-index: 1;
}

.requests-review-visible {
    display: flex;
}

#requests-select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requests-select-btn {
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: transparent;
    color: hsl(225, 100%, 18%);
    border: 1px solid hsl(225, 100%, 18%);
    border-radius: 3px;
    font-size: 1.25rem;
    transition: 250ms;
}

.requests-active-btn {
    box-shadow: 0 0 1rem hsl(271, 76%, 33%);
    transform: scale(1.1, 1.1);
}

#pending-requests-btn {
    background-color: hsl(40, 100%, 50%);
}

#pending-requests-btn:hover {
    background-color: hsl(40, 100%, 60%);
}

#pending-requests-btn:active {
    background-color: hsl(40, 100%, 40%);
}

#succesful-requests-btn {
    background-color: hsl(90, 100%, 50%);
}

#succesful-requests-btn:hover {
    background-color: hsl(90, 100%, 60%);
}

#succesful-requests-btn:active {
    background-color: hsl(90, 100%, 40%);
}

#submit-pending-btn {
    color: hsl(225, 100%, 18%);
    background-color: hsl(115, 100%, 50%);
}

#submit-pending-btn:hover {
    color: hsl(225, 100%, 18%);
    background-color: hsl(115, 100%, 60%);
}

#submit-pending-btn:active {
    color: hsl(225, 100%, 18%);
    background-color: hsl(115, 100%, 40%);
}

#close-requests-btn {
    background-color: hsl(0, 75%, 50%);
}

#close-requests-btn:hover {
    background-color: hsl(0, 85%, 50%);
}

#close-requests-btn:active {
    background-color: hsl(0, 85%, 40%);
}

#requests-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin-left: 1rem;
    background-color: hsl(271, 11%, 53%);
    border: 1px solid hsl(225, 100%, 18%);
    border-radius: 1rem;
    overflow: auto;
}

.request-card {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: hsl(271, 76%, 33%);
    border-radius: 0.25rem;
}

.request-card p {
    border: 1px hsl(19, 100%, 50%) solid;
    padding: 0.5rem;
    font-size: 0.85rem;
    overflow: auto;
    transition: 500ms;
}

.request-card p:hover {
    border: 1px hsl(19, 100%, 75%) solid;
}

.request-card p:first-of-type {
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.request-card p:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.request-card p:not(:first-of-type, :last-of-type) {
    border-bottom: none;
}

.request-card b {
    color: hsl(19, 100%, 50%);
}

.request-card button {
    color: white;
    background-color: hsl(333, 76%, 33%);
    padding: 0.5rem;
    margin-top: 1rem;
    border: 2px hsl(333, 76%, 33%) solid;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 250ms;
}

.request-card button:hover {
    background-color: hsl(0, 75%, 50%);
    border-color: hsl(0, 75%, 50%);
}



/* Main Body Styling */
#request-hero {
    display: flex;
    align-items: first baseline;
    background-color: rgba(0, 40, 128, 0.125);
}

#request-hero[class*="light"] {
    background-color: rgba(0, 40, 128, 0);
}


/* Request Form Styling */
[class*="request-sub-hero"] {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
}

#request-form {
    width: 40%;
    overflow: auto;
}

[class*="hero-header-wrapper"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: hsl(19, 100%, 50%);
    background-color: hsla(225, 100%, 18%, 0.25);
    backdrop-filter: blur(1rem);
    border: 1px solid hsl(19, 100%, 50%);
    border-left: 4px solid hsl(19, 100%, 50%);
    border-right: 4px solid hsl(19, 100%, 50%);
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

[class*="hero-header-wrapper"][class*="light"] {
    background-color: hsla(225, 100%, 18%, 0.75);
}

[class*="hero-header-wrapper"] h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
}

[class*="hero-form-wrapper"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    border: 1px solid hsl(19, 100%, 50%);
    border-top: 0;
    border-left: 4px solid hsl(19, 100%, 50%);
    border-right: 4px solid hsl(19, 100%, 50%);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

[class*="hero-form-wrapper"][class*="element"] {
    background-color: hsla(225, 100%, 18%, 0.125);
}

[class*="hero-form-wrapper"] form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

[id*="subdiv"] {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid hsl(19, 100%, 50%);
    border-radius: 3px;
    overflow: auto;
    transition: 250ms;
}

[id*="subdiv"]:hover,
[id*="subdiv"]:focus {
    border: 1px solid hsl(19, 100%, 75%);
}

.textarea-subdiv {
    flex-direction: column;
    gap: 0.5rem;
}

label {
    color: hsl(19, 100%, 50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

input,
select,
textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.125rem;
    color: hsla(225, 100%, 18%, 1);
    border: 2px hsl(19, 100%, 50%) solid;
    border-radius: 3px;
    padding: 5px;
}

select,
input {
    width: 45%;
}

textarea {
    height: 7rem;
    width: 100%;
    padding: 2%;
    background-color: hsla(19, 100%, 88%, 1);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 5px hsl(19, 100%, 50%);
    outline: none;
}

#button-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#search-btn {
    padding: 0.75rem 1.5rem;
    color: hsl(19, 100%, 50%);
    background-color: transparent;
    border: 2px hsl(19, 100%, 50%) solid;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 500ms;
}

#search-btn:hover,
#search-btn:focus {
    color: hsl(225, 100%, 18%);
    background-color: hsl(19, 100%, 50%);
    transition: 55ms;
    outline: none;
}

#reset-btn {
    padding: 0.75rem 1.5rem;
    color: #00a1ffff;
    background-color: transparent;
    border: 2px #00a1ffff solid;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 500ms;
}

#reset-btn:hover,
#reset-btn:focus {
    color: hsl(225, 100%, 18%);
    background-color: #00a1ffff;
    transition: 55ms;
    outline: none;
}

/* Result Preview styling */
#request-results {
    width: 60%;
}

#request-results-wrapper {
    height: 85dvh;
    max-height: 85dvh;
    overflow: auto;
    align-items: first baseline;
    justify-content: left;
    padding: 0 1.5rem;
    gap: 0;
}

#request-results-wrapper .request-card:first-of-type {
    margin-top: 1rem;
}

#request-results-wrapper .request-card {
    width: 100%;
    background-color: hsla(271, 76%, 33%, 0.75);
}

#request-results-wrapper .request-card p {
    font-size: 1rem;
}

#request-results-wrapper .request-card button {
    color: hsl(80, 75%, 50%);
    background-color: hsla(80, 75%, 50%, 0.25);
    border: 2px hsla(80, 75%, 50%, 0.25) solid;
}

#request-results-wrapper .request-card button:hover {
    color: white;
    background-color: hsl(80, 75%, 50%);
    border-color: hsl(80, 75%, 50%);
    box-shadow: 0 0 0.5rem hsl(19, 100%, 50%);
}

#no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    filter: opacity(0.5);
}

#no-results div {
    width: 25%;
}

#no-results img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 992px) {
    .requests-review {
        width: 60dvw;
    }
}

@media only screen and (max-width: 768px) {
    .requests-review {
        top: 100%;
        left: -30dvw;
        height: 65dvh;
        width: 75dvw;
    }

    #request-form {
        padding-right: 0.25rem;
    }

    #request-results {
        padding-left: 0.25rem;
    }

    [class*="request-sub-hero"] {
        padding: 2rem 1rem;
    }

    .hero-form-wrapper {
        padding: 0.25rem;
    }

    #button-div {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .requests-review {
        height: 70dvh;
        width: 100dvw;
        left: 0;
        gap: 0;
        padding: 0.5rem;
    }

    .requests-select-btn {
        padding: 0.5rem;
        font-size: 1rem;
    }

    #requests-display {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.25rem;
        background-color: hsl(271, 11%, 53%);
        border: 1px solid hsl(225, 100%, 18%);
        border-radius: 0.5rem;
        overflow: auto;
    }

    .request-card {
        padding: 0.5rem;
        margin-bottom: 1rem;
        background-color: hsl(271, 76%, 33%);
        border-radius: 0.25rem;
    }

    #request-hero {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    /* Request Form Styling */
    [class*="request-sub-hero"] {
        flex-direction: column;
        padding: 0.5rem;
    }

    #request-form {
        width: 100%;
        overflow: auto;
    }

    [class*="hero-header-wrapper"] {
        padding: 1rem 0;
    }

    [class*="hero-header-wrapper"] h2 {
        font-size: 1.25rem;
        text-align: left;
    }

    [class*="hero-form-wrapper"] {
        gap: 0.5rem;
    }

    [class*="hero-form-wrapper"] form {
        gap: 0.5rem;
    }

    [id*="subdiv"] {
        padding: 0.5rem;
    }

    label {
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
    }

    textarea {
        height: 5rem;
    }


    /* Result Preview styling */
    #request-results {
        width: 100%;
    }

    #request-results-wrapper {
        padding: 0.5rem;
    }

    #request-results-wrapper .request-card:first-of-type {
    margin-top: 0;
}
}